@model TheFishingSpot.Web.Areas.News.Models.CommentInputViewModel

@using (Ajax.BeginForm("AddComment", null,
        new AjaxOptions
        {
            UpdateTargetId = "add-comment-form",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "clearCommentContent",
        }, new { @class = "form-horizontal text-center", role = "form" }))
{
    if (ViewBag.Error == true)
    {
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
    }
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Hidden("NewsId", Model.NewsId)
    </div>
    <div class="form-group col-md-12">
        <div>
            <label for="comment-content">Comment:</label>
        </div>
        @Html.TextAreaFor(c => c.Content, new { @class = "form-control", rows = "5", id = "comment-content" })
    </div>
    <div class="row form-group">
        <input class="btn btn-primary" type="submit" value="Add comment" />
    </div>
}